<div class="header">
  <a href="/species" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    
    <div class="target">
      <div class="count">ディノニクスの捕獲数:<%= Dinonic.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Dinonic, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "dinonic"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">イピリアの捕獲数:<%= Ipil.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Ipil, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "ipil"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">ラプトゥルの捕獲数:<%= Raptur.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Raptur, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "raptur"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">メリュジヌの捕獲数:<%= Merusine.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Merusine, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "merusine"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">シュメルケの捕獲数:<%= Schmerke.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Schmerke, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "schmerke"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">ヨーウィーの捕獲数:<%= Yowee.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Yowee, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "yowee"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">ザウラスの捕獲数:<%= Zaura.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: lizards_path, model: Zaura, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "zaura"%> 
      <% end %>       
    </div>
  </div>
</div>