<div class="header">
  <a href="/" class="return-top">
    <%="#{current_user.nickname}さんの捕獲状況"%>
  </a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
<%# ↓鉄巨人のカウントフォーム %>
    <div class="target">
      <div class="count">鉄巨人の捕獲数:<%= @tetsukyojins %></div>
      <%= form_with(url: giants_path, model: Tetsukyojin, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "tetsukyojin"%> 
      <% end %>       
    </div>
<%# ↓青ウルフラマイターのカウントフォーム %>
    <div class="target">   
      <div class="count">ウルフラマイター（青）の捕獲数:<%= @blueuruhuramaiters%></div>     
      <%= form_with(url: giants_path, model: BlueUruhuramaiter, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class:"btn-gradient-3d" , name: "blueuruhuramaiter"%> 
      <% end %>
    </div>
<%# ↓赤ウルフラマイターのカウントフォーム %>
    <div class="target">
      <div class="count">ウルフラマイター（赤）の捕獲数:<%= @red_uruhuramaiters%></div>
      <%= form_with(url: giants_path, model: RedUruhuramaiter, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d",name: "red_uruhuramaiter"%> 
      <% end %>

    </div>
  </div>
</div>