<div class="header">
  <a href="/" class="return-top">ゲスト</a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      鉄巨人
      捕獲数:<%= Tetsukyojin.count%>

      <%= form_with(url: giants_path, model: @tetsukyojin, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , name: "tetsukyojin"%> 
      <% end %>  

      
      
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ウルフラマイター（青）
      捕獲数:<%= BlueUruhuramaiter.count%>

      
      <%= form_with(url: giants_path, model: @blueuruhuramaiter, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , name: "blueuruhuramaiter"%> 
      <% end %>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ウルフラマイター（赤）
      捕獲数:<%= RedUruhuramaiter.count%>

      <%= form_with(url: giants_path, model: @reduruhuramaiter, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , name: "red_uruhuramaiter"%> 
      <% end %>

    </div>
  </div>
</div>