<div class="header">
  <a href="/species" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    <div class="target">
      <div class="count">フロートアイの捕獲数:<%= Floateye.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: eyeballs_path, model: Floateye, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "floateye"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">ブエルの捕獲数:<%= Buell.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: eyeballs_path, model: Buell, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "buell"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">イービルアイの捕獲数:<%= Evileye.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: eyeballs_path, model: Evileye, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "evileye"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">アーリマンの捕獲数:<%= Ahriman.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: eyeballs_path, model: Ahriman, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "ahriman"%> 
      <% end %>       
    </div>

    <div class="target">
      <div class="count">デスフロートの捕獲数:<%= Deathfloat.includes(:user).where(user_id: current_user.id).count %></div>
      <%= form_with(url: eyeballs_path, model: Deathfloat, method: :get, local: true) do |f| %>
        <%= f.submit "＋" , class: "btn-gradient-3d", name: "deathfloat"%> 
      <% end %>       
    </div>
  </div>
</div>